*
{
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

html
{
    height: 100%;
}

body
{
    overflow: hidden;
    background: #000000;
}



#loading
{
    position: absolute;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    text-align: center;
    padding-top: 20vh;
}

#logo
{
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 40vh;
}

#loadbox
{
    width: 40vw;
    border-radius: 10px;
    background: #ddd;
    margin-top: 20px;
}

#load
{
    height: 10px;
    background: #333;
    width: 0%;
    border-radius: 10px;
    transition: 1s;
}

#km
{
    background-image: url(img/km.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 7vh;
    width: 20vw;
    margin-top: 20vh;
}

#content
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main
{
    width: 100vw;
    position: relative;
    background-image: url(img/walkmaninnerfilled.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    flex: 1;
}

#turn
{
    z-index: 20;
    width: 100%;
    height: 100%;
}

#turner
{
    z-index: 120;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
}

#turn1
{
    margin-top: 45%;
    margin-left: 16%;
    width: 40vw;
    background: rgb(46, 31, 4);
    border-radius: 30vw;
    transform: scale(1.3);
}

#turn2
{
    margin-top: 91%;
    margin-left: 16%;
    width: 40vw;
    background: rgb(46, 31, 4);
    border-radius: 30vw;
    transform: scale(0.7);
}

#turner1
{
    margin-top: 59%;
    margin-left: 31%;
    width: 12vw;
    background-image: url(img/turner.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30vw;
}

#turner2
{
    margin-top: 105.5%;
    margin-left: 31%;
    width: 12vw;
    background-image: url(img/turner.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30vw;

}

#turn1:after, #turn2:after, #turner1:after, #turner2:after
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#cassette
{
    width: 100%;
    height: 100%;
    background-image: url(img/cassette.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
    filter: brightness(70%);
}

#deck
{
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url(img/walkmanhole.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}

footer
{
    width: 100vw;
    height: 30vw;
    background-image: url(img/controlsrevplayfor.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.clicker
{
    position: absolute;
}

.backgroundcontrol
{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 150;
}

#play
{
    background: none;
    margin-left: 55%;
    margin-top: 17%;
    height: 10vw;
    width: 18vw;
    z-index: 5;
    /* background: lightcoral; */
}

#rev
{
    margin-left: 79%;
    margin-top: 17%;
    height: 9vw;
    width: 7vw;
    z-index: 5;
    /* background: lightcoral; */
}

#for
{
    margin-left: 90%;
    margin-top: 17%;
    height: 9vw;
    width: 7vw;
    z-index: 5;
    /* background: lightcoral; */
}

#stop
{
    margin-left: 58%;
    margin-top: 4%;
    height: 7vw;
    width: 27vw;
    z-index: 5;
    /* background: lightcoral; */
}

#vol
{
    margin-top: 12.5%;
    margin-left: 7%;
    z-index: 5;
}






input[type=range]{
    -webkit-appearance: none;
    width: 42vw;
    
}

input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 0px;
    border: none;
    border-radius: 3px;
    background: rgba(138, 138, 134, 0.541);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 10vw;
    width: 20vw;
    background-image: url(img/slider.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


/* Minimum aspect ratio */
@media (min-aspect-ratio: 389/746) {
    #cassette, #deck, main
    {
        background-size: cover;
    }
  }

  @media (max-aspect-ratio: 499/910) {
    #cassette, #deck, main
    {
        background-size: contain;
    }
  }

