*
{
    padding: 0;
    margin: 0 auto;
}

body
{
    /* overflow: hidden; */
    background: #000000;
}

#content
{
    height: 100vh;
    width: 100vw;
    max-width: 435px;
}

main
{
    width: 100%;
    position: relative;
    background-image: url(img/walkmaninnerfilled.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
}

#turn
{
    z-index: 20;
    width: 100%;
    height: 100%;
}

#turner
{
    z-index: 120;
    width: 100%;
    height: 100%;
    filter: brightness(0.7);
}

#turn1
{
    margin-top: 45%;
    margin-left: 16%;
    width: 40vw;
    background: rgb(46, 31, 4);
    border-radius: 30vw;
    transform: scale(1.3);
}

#turn2
{
    margin-top: 91%;
    margin-left: 16%;
    width: 40vw;
    background: rgb(46, 31, 4);
    border-radius: 30vw;
    transform: scale(0.7);
}

#turner1
{
    margin-top: 59%;
    margin-left: 31%;
    width: 12vw;
    background-image: url(img/turner.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30vw;
}

#turner2
{
    margin-top: 105.5%;
    margin-left: 31%;
    width: 12vw;
    background-image: url(img/turner.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30vw;

}

#turn1:after, #turn2:after, #turner1:after, #turner2:after
{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#cassette
{
    width: 100%;
    height: 100%;
    background-image: url(img/cassette.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
    filter: brightness(70%);
}

#deck
{
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url(img/walkmanhole.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}

footer
{
    height: 20%;
    width: 100%;
    background-image: url(img/controlsrevplayfor.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.clicker
{
    position: absolute;
}

.backgroundcontrol
{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#play
{
    background: none;
    margin-left: 55%;
    margin-top: 17%;
    height: 6vh;
    width: 18vw;
    z-index: 5;
}

#rev
{
    margin-left: 79%;
    margin-top: 17%;
    height: 6vh;
    width: 7vw;
    z-index: 5;
}

#for
{
    margin-left: 90%;
    margin-top: 17%;
    height: 6vh;
    width: 7vw;
    z-index: 5;
}

#stop
{
    margin-left: 58%;
    margin-top: 4%;
    height: 4vh;
    width: 27vw;
    z-index: 5;
}

#vol
{
    margin-top: 14%;
    margin-left: 7%;
    z-index: 5;
}






input[type=range]{
    -webkit-appearance: none;
    width: 42vw;
    
}

input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 5px;
    border: none;
    border-radius: 3px;
    background: rgba(138, 138, 134, 0.541);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 5vh;
    width: 20vw;
    background-image: url(img/slider.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}